@import "./resources.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.board-game {
  width: 400px;
  height: 400px;
  background-color: $c-white;
  border-radius: 15px;
  border: 3px solid $c-black;
  box-shadow: 0 2px 2px $c-black;

  @include phone {
    width: 300px;
    height: 300px;
  }

  @include smallest-screen {
    width: 200px;
    height: 200px;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  span {
    width: 33.3333%;
    height: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    outline: 3px solid $c-dark-grey;
    box-sizing: border-box;

    &:hover {
      background-color: $c-white-hover;
      cursor: pointer;
      border: 5px solid $c-black;
    }

    .icons {
      height: 80px;

      @include smallest-screen {
        height: 50px;
      }
    }

    &::after {
      content: "";
      display: none;
      width: 150%;
      height: 10px;
      background-color: $c-black;
      position: absolute;
      z-index: 10;
    }

    &.horizontal {
      &::after {
        display: block;
      }
    }

    &.vertical {
      &::after {
        display: block;
        rotate: 90deg;
      }
    }

    &.diagonal-1 {
      &::after {
        display: block;
        rotate: 45deg;
      }
    }
    &.diagonal-2 {
      &::after {
        display: block;
        rotate: 135deg;
      }
    }
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($c-black, 0.7);

  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    height: 200px;
    width: 90%;
    z-index: 100;

    border-radius: 10px;
    background-color: rgba($c-white, 0.7);

    h3 {
      text-shadow: 2px 2px 2px black;
    }

    button {
      cursor: pointer;
      &:hover {
        border: 2px solid $c-white;
      }
    }
  }
}
